<html lang="en">
  <%- include header %>
  <!-- Main component for a primary marketing message or call to action -->
  <div class="container">
    <h1 style="color: white" class="col-md-offset-1">Welcome, <%=data[0].first_name%></h1>
    <p>
      <a
        class="btn btn-lg btn-primary col-md-offset-1"
        href="/home/profile"
        role="button"
        >Profile view »</a
      >
    </p>
  </div>
  <%- include footer %>
</html>
