<!DOCTYPE html> <%- include header %>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container col-md-12">
      <div class="panel panel-info col-md-offset-4 col-md-4">
        <div class="panel-heading col-md-12">
          <h3 class="panel-title">Services we offer</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Oil changes</li>
            <li>Tire Rotation</li>
            <li>Paint correction services</li>
            <li>etc</li>
          </ul>
          <button class="btn btn-info">
            <a href="/home/scheduleService">Schedule Service</a>
          </button>
        </div>
      </div>
    </div>
    <div class="container col-md-12">
      <div class="panel panel-info col-md-offset-4 col-md-4">
        <div class="panel-heading col-md-12">
          <h3 class="panel-title">Services Requested</h3>
        </div>
        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tr>
              <th width="50px">No.</th>
              <th>Service</th>
              <th>Date</th>
              <th>Complete</th>
            </tr>
            <% if(data.length){ for(var i = 0;i < data.length;i++) { %>
            <tr>
              <td><%=(i+1)%></td>
              <td><%=data[i].service%></td>
              <td><%=data[i].date%></td>
            </tr>
            <% } }else{ %>
            <tr>
              <td colspan="3">No data</td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
